

li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #191919;
  }
  
  .nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    font-size: 20px;
    width: 100%;
    padding-top: 1%;
    background: #f3f6f4;
  }
  .nav__brand {
    text-transform: uppercase;
  }
  
  .nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #6e6969;
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 768px) {
    
  .nav {
    align-items: right;
    justify-content: space-between;
    padding: 1rem;
    opacity: 0.99;
    width: 100%;
    
  }
    .nav__toggler {
      display: block;
      cursor: pointer;
      padding-bottom: 5%;
    }
    .nav__menu {
      position: fixed;
      top: 10vh;
      right: 0;
      height: 90vh;
      width: 100vw;
      font-size: 30px;
      background: #f3f6f4;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
      opacity: 0.99;
      padding-top: 30px;
    }
  }
  /* Active Class */
  .nav__active {
    transform: translateX(0%);
  }
  
  /* Toggle Icon Animation */
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  } 
  .loginbutton {
    /* Text md/Medium */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  
    /* #756884 */
    color: #756884;
  }
  .joinus {
    background: #5a8b6a;
    border: 0.964798px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0px 8.68318px 19.296px -4.82399px rgba(136, 45, 241, 0.2);
    border-radius: 7.71838px;
  
    /* Text md/Medium */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  
    /* identical to box height, or 150% */
  
    color: #ffffff;
  }
  
  .img{
    margin-bottom: 30px;
  }