
html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.App {
  height: 100vh;
}
/* Avatar */
div.btn {
  background: #5a8b6a;
  color: #d6dad7;

}
div.btn:hover {
  background: #70a080;
}

.form {
  background: #5a8b6a;
}

.form-1 {
  border-radius: 12px;
}
/* Checkout Steps */
